# https://whitesource.atlassian.net/wiki/spaces/WD/pages/1781760001/Unified+Agent+Configuration+Parameters+for+Native+Integrations
# This config file has been created from the above link and is used in all WS Native Repo Integrations by default
# This file is meant to be used as a template when switching from AUTO to LOCAL configMode in the .whitesource file

# additional modifications compared to link
# maven.runPreStep=true
# changed python.path=python3
# changed includes = **/*ts
# changed excludes = **/test*/**

#
npm.includeDevDependencies=false
npm.resolveDependencies=true 
npm.ignoreSourceFiles=true 
#npm.runPreStep should only be enabled if npm install has not been run or a package-lock.json does not exist
npm.runPreStep=true
includes= **/*ts **/*c **/*cc **/*cp **/*cpp **/*cxx **/*c++ **/*h **/*hh **/*hpp **/*hxx **/*h++ **/*m **/*mm **/*pch **/*c# **/*cs **/*csharp **/*go **/*goc **/*js **/*pl **/*plx **/*pm **/*ph **/*cgi **/*fcgi **/*pod **/*psgi **/*al **/*perl **/*t **/*pl6 **/*p6m **/*p6l **/*pm6 **/*nqp **/*6pl **/*6pm **/*p6 **/*php **/*py **/*rb **/*swift **/*java **/*clj **/*cljx **/*cljs **/*cljc **/*jar **/*egg **/*dll **/*tar.gz **/*tgz **/*zip **/*whl **/*gem **/*apk **/*air **/*dmg **/*exe **/*gem **/*gzip **/*msi **/*nupkg **/*swc **/*swf **/tar.bz2 **/pkg.tar.xz **/(u)?deb **/(a)?rpm
excludes=*/., **/node_modules, **/src/test, **/testdata, **/*sources.jar, **/*javadoc.jar, **/test*/**
